body{
	margin: 0;
	padding: 0;
	background-color: Snow ;
}


header h1{
	color:#581845 ;
	margin: 5px;
	margin-bottom: 0px;
	margin-top: 8px;
	font-family: "Rubik Doodle Shadow", system-ui;

	
	
}
header{
	text-align: center;
	background-image: url(konf.webp);
	position: fixed;
	top: 0;
	width: 100%;

}
	
	
header p{
  margin: 0px;
  width: 100%;
}

a{
	text-decoration: none;
	margin: 50px;
	font-size: 18px;
	color: MediumVioletRed	;
	font-family: "Courgette", cursive;


	
}
nav{
	margin-top: 18px;
	border-bottom: 1px solid MistyRose;
	border-top: 1px solid MistyRose;
	padding: 5px;
	background-color:Snow ;
}
main h2{
	font-family: "Lobster", sans-serif;
	color:#581845 ;
}
main p{
	font-family: "Advent Pro", sans-serif;
}
main h3{
	font-family: "Lobster", sans-serif;
	color:#581845 ;
}
.o{
	background-color: ;
}
main img{
	width: 420px;
	height: 300px;
	margin: 0px 0px 0px 70px;
}
ul{
	font-family: "Advent Pro", sans-serif;

}
footer{
	background-image: url(konf.webp);
	color: black;
	border-top: 1px solid MistyRose;
	padding: 0px 0px 5px 30px;

}
footer img{
	width: 30px;
	height: 30px;
	margin: 10px 2px 3px 20px;
	padding: ;
}
main{
	margin: 140px 50px 20px 50px;
}
p{
	width: 70%;
}


footer h4{
	margin: 5px 80px 0px 20px;
	font-family: "Lobster", sans-serif;
}
footer p{
	margin:  5px 80px 0px 20px;
	padding: 0px 0px 0px 2px;

}